name: C/C++ CI

on:
  push:
    paths:
    - "data/userData.json"
#     应该怎么让此文件被删除的时候不运行workflow啊？

jobs:
  buildTest:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        ref: ${{ github.ref_name }}
    
    # - name: update
    #   run: python3 data/checkUpdate.py
    # - name: commit
    #   uses: stefanzweifel/git-auto-commit-action@v4
    #   with: 
    #     commit_message: 自动拉取图鉴网数据
    #     file_pattern: "data/data.min.json"
    #     skip_dirty_check: false
    
    
    - name: build
      run: mkdir build && cd ./build && cmake ../   && make -j$(nproc)
    - name: run
      run: cd ./build && ./bcjh -s && ./bcjh -s 
#       run: echo "计算器规则有问题，修复中"

